*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #BFC7CE;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px #000000;
}

div.header-container{
    width: 100%;
    margin: auto;
    background: #E3E8EB;
    padding: 20px;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px #000000;
}

.table-info{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}   

.table-info marquee{
    border: 2px solid #000000;
    border-radius: 10px;
    background: #d84e24;
    padding: 10px;
}

.table-autos td {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    padding: 10px;
    margin: 5px auto; 

    border: 2px solid #000000;
    border-radius: 10px;
    background: #F5F5F5;
}