*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: green;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

hr{
    color: red;
    height: 10px;
}